.place {
  display: grid;
  row-gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(288px, max-content));
  margin-top: 50px;
}

.place:first-of-type {
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .place {
    row-gap: 48px;
    column-gap: 28px;
    margin: 73px auto 0;
    width: calc(100% - 24px * 2);
    grid-template-columns: repeat(auto-fit, minmax(340px, max-content));
  }
  
  .place:first-of-type {
    margin-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    column-gap: 32px;
    width: calc(100% - 48px * 2);
    margin-top: 80px;
    grid-template-columns: repeat(auto-fit, minmax(440px, max-content));
  }
  
  .place:first-of-type {
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    column-gap: 40px;
    width: calc(100% - 148px * 2);
    grid-template-columns: repeat(auto-fit, minmax(460px, max-content));
  }
  
  .place__image {
    min-width: 460px;
  }
}